{% if tournoi %}
    <h2> {{tournoi.name}} </h2>
    <h3> by {{tournoi.location}} </h3>

    <table border="1">
        <tr>
            <td>Number</td>
            <td>Les Équipes</td>
        </tr>
        {% for poule in tournoi.poule_set.all %}
            <tr>
                <td><a href="{% url 'tournois:matches' poule.tournoi.id poule.id %}"> {{tournoi.name}}, Poule {{poule.id}}</a></td>
                <td>
                    {% for equipe in poule.equipes.all %}
                        <p>{{equipe.name}}</p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<a href="{% url 'tournois:tournois' %}"> Back to tournois list </a>