{% if tournois %}
    <h2> The list of tournois </h2>
    <table border="1">
        <tr>
            <td style="text-align:center;"> name </td>
            <td style="text-align:center;"> place </td>
            <td style="text-align:center;"> time </td>
        <tr>
        {% for tournoi in tournois %}
            <tr>
                <td> <a href="{% url 'tournois:poules' tournoi.id %}"> {{tournoi.name}} </a></td>
                <td> {{tournoi.location}}</td>
                <td> Date: from {{tournoi.date_start}} to {{tournoi.date_end}} </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h1> No tournoi available.</h1>
{% endif %}